@{
    ViewData["Title"] = "Home Page";

}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h2>Existing Students</h2>
    <ul>

    </ul>
    <form asp-action="Index">
        <input name="UserID" value="" type="hidden" />
        <label for="FirstName">First Name:</label>
        <input class="form-control" name="FirstName" value="">
        <label for="LastName">Last Name:</label>
        <input class="form-control" name="LastName" value="">
        <input type="submit">
    </form>
</div>
