@{
    // Razor syntax allows the use of code blocks with the @{} syntax.
    ViewData["Title"] = "Home Page";
    // You can also inject variables into the HTML using the @ symbol.
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
